sudo: false
language: node_js
node_js:
  - 10  # use nodejs v10 LTS
cache: npm
branches:
  only:
    - master  # build master branch only
before_install:
  - export TZ='Asia/Shanghai'  # set timezone
script:
  - hexo generate  # generate static files
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  target-branch: gh-pages
  verbose: true
  keep-history: true
  local-dir: public
  on:
    branch: master
