sudo: false
language: node_js
node_js: 10
cache: npm
#  directories: node_modules
branches:
  only: blogging  # build blogging branch only
#install: npm install
script:
  - hexo g  # generate static files
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: false
  target-branch: master
  local-dir: public
  on:
    branch: blogging

