sudo: false
language: node_js
node_js: 10
cache: npm
#  directories: node_modules
branches:
  only: blogging  # build blogging branch only
#install: npm install
before_script:
  - export TZ="Asia/Shanghai"
  - git config user.name "${GH_USER}"
  - git config user.email "${GH_EMAIL}"
  - sed -i'' "s~git@github.com:~https://${GH_TOKEN}@github.com/~" _config.yml
script:
  - hexo g > /dev/null  # generate static files
  - hexo d > /dev/null

